absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
appdirs
argon2-cffi
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
azure-core
azure-storage-blob
babel
beautifulsoup4
bitarray
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
channels
channels-redis
charset-normalizer
click
colorama
cryptography
cycler
datasets
debugpy
decorator
defusedxml
dill
Django
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-model-utils
djangorestframework
fastapi
Flask
Flask-SQLAlchemy
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-logging
google-cloud-storage
google-generativeai
gradio
gradio_client
greenlet
groq
grpcio
h5py
httpx
huggingface-hub
idna
ijson
imageio
imbalanced-learn
importlib_metadata
ipykernel
ipython
ipywidgets
jax
jaxlib
Jinja2
joblib
jsonschema
keras
kiwisolver
label-studio
label-studio-sdk
lxml
Markdown
matplotlib
mediapipe
msgpack
multiprocess
namex
numpy
onnx
onnxruntime
openai
opencv-python
pandas
pillow
protobuf
psycopg2-binary
pydantic
scikit-learn
scipy
seaborn
SQLAlchemy
tensorflow
torch
torchvision
tqdm
transformers
uvicorn
xgboost
