absl-py==2.1.0
accelerate==1.0.1
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attr==0.3.1
attrs==23.2.0
azure-core==1.32.0
azure-storage-blob==12.23.1
babel==2.16.0
beautifulsoup4==4.12.3
bitarray==2.9.3
bitstring==4.2.3
bleach==5.0.1
blinker==1.7.0
boto==2.49.0
boto3==1.35.56
botocore==1.35.56
boxing==0.1.4
cachetools==5.5.0
certifi==2024.6.2
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
chess==1.9.4
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.1
cryptography==43.0.3
cycler==0.12.1
datasets==3.0.2
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==4.2.16
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-mathfilters==1.0.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
ecdsa==0.19.0
esptool==4.8.1
et_xmlfile==2.0.0
exceptiongroup==1.2.1
executing==2.1.0
expiringdict==1.2.2
fastapi==0.114.0
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.13.1
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.51.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
fuzzywuzzy==0.18.0
gast==0.6.0
gdown==5.2.0
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gradio==4.31.5
gradio_client==0.16.4
greenlet==3.1.1
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.2
humanfriendly==10.0
humansignal-drf-yasg==1.21.9
idna==3.7
ijson==3.3.0
imageio==2.36.0
imbalanced-learn==0.13.0
imgviz==1.7.5
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflection==0.5.1
intelhex==2.3.0
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
json5==0.9.25
jsonschema==4.23.0
jupyter==1.1.1
keras==3.5.0
kiwisolver==1.4.5
label-studio==1.14.0
label-studio-sdk==1.0.7
labelme==5.5.0
lockfile==0.12.2
lxml==5.3.0
Markdown==3.6
matplotlib==3.8.4
mediapipe==0.10.14
ml-dtypes==0.4.0
msgpack==1.1.0
multiprocess==0.70.16
namex==0.0.8
numpy==1.26.4
onnx==1.14.0
onnxruntime==1.15.1
onnxruntime-gpu==1.18.0
openai==1.54.3
opencv-python==4.9.0.80
pandas==2.2.3
pillow==10.3.0
protobuf==5.28.3
psycopg2-binary==2.9.10
pydantic>=2.0,<2.9  # Flexible version to prevent Python mismatch
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
SQLAlchemy==2.0.36
tensorflow==2.18.0
torch==2.0.1  # Corrected package name
torchvision==0.15.2
tqdm==4.66.5
transformers==4.46.0
uvicorn==0.30.6
xgboost==2.1.2
